body {
    color: #fb5;
    background-color: #333344;
}
a:link {
    color: #445;
    background-color: #eb6;
}
a:visited {
    color: #345;
    background-color: #eb6;
}
a:hover {
    color: #667;
    background-color: #fb5;
}
a:active {
    color: #778;
    background-color: #ec8;
}
header {
    color: #ec8;
    background-color: #334;
    border-color: #666677;
}
header nav {
    color: #444455;
    background-color: #789;
    border-color: #666677;
}
article {
    color: #223;
    background-color: #edc;
    border-color: #666677;
}
header nav ul {
    border-color: #9999aa;
}
header nav a:link,header nav a:visited {
    color: #eef;
    background-color: transparent;
    border-color: #9999aa;
}
header nav a:hover {
    color: #444455;
    background-color: #eb6;
}
header nav a:active {
    color: #667;
    background-color: #ec8;
}


